<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quotr</title><!----------------------------------------------------------------------------->
    <meta name="description" content="Quotr, Quote manager">
    <meta name="author" content="Pronoy Chopra">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!--<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>-->
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-twipsy.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-scrollspy.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-application.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}""></script>
    <script src="{{ url_for('static', filename='js/bootstrap-alerts.js') }}""></script>
    
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    
    <!-- the css for overides-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
    
  <body>
    
    
    {% block topbar%}
      <!-- place where the top bar will be kept -->
          <div class="header_new">
            <div class="container">
            <ul class="simple_nav">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              
              <li><a href="{{ url_for('submit_quote') }}">Submit</a></li>
              
              <li><a href="{{ url_for('queue') }}">Q</a></li>
              
              <li><a href="{{ url_for('tags') }}">Tags</a></li>
              
              <li><a href="{{ url_for('wiki') }}">Wiki</a></li>
            </ul>
            
            <ul class="second_nav">
            {% if not session.logged_in %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            </ul>
            </div>
          </div><!-- header ends -->
          
          
    {% endblock %}





<!-- ----------------------------------------------------------------------- -->
      {%  block marketing %}

      
      {% endblock %}
<!-- ----------------------------------------------------------------------- -->    
    {% block body %}
    {% endblock %}
    
      <footer>
     
        <div class="container">
        <p>Designed and built by <a href="http://pronoy.in">@pronoyc</a> <br /></p>
        <p><small>When he was supposed to be working</small></p>
        </div>
      
      </footer>
  </body>
</html>


