{% extends "layout.html" %}
{% block body %}
  <p></p>
  <div class="login">
  <div class="container">
    <div class="hero-unit">
      <div class="page-header">
        <h2>Login<small> because there is no spoon </small></h2>
      </div>
      <p></p>
      <div class="clearfix">
        {{ form.email(class="input", placeholder= "Email") }}
        <br /><p></p>
        {{ form.password(class="input", placeholder="Password") }}
        <br /><p></p>        
        {{ form.login(class="btn primary") }}
      </div>
      <p>&nbsp;</p>
      <div class="page-header">
        <h2>Forgot Password?<small> Enter your email and hit submit </small></h2>
      </div>
      <p></p>      
      <div class="clearfix">
        {{ form.forgotpass(class="input",placeholder="Email") }}
        <br /><p></p>
        {{ form.forgot_submit(class="btn primary") }}
      </div>

    </div><!-- hero unit ends -->  
  </div><!-- container ends -->  
  </div>
    
{% endblock %}
