{% extends "layout.html" %}
{% block body %}
  <p></p>
  <div class="login">
  <div class="container">
    <div class="hero-unit">
      <div class="page-header">
        <h2>Login<small> and don't look back </small></h2>
        {#<h2>Logged in: {% if session.logged_in %}
                        True
                        {% else %}
                        False
                        {% endif %}</h2>#}
      </div>
      <p></p>
      <div class="clearfix">
        <form action="{{ url_for('login') }}" method=post>
        {{ form.email(placeholder= "Email") }}
        <br /><p></p>
        {{ form.password(placeholder="Password") }}
        <br /><p></p>        
        {{ form.login(class="btn primary") }}
        </form>
      </div>
      <!--
      <p>&nbsp;</p>
      <div class="page-header">
        <h2>Forgot Password?<small> Enter your email and hit submit </small></h2>
      </div>
      <p></p>      
      <div class="clearfix"> 
      {# 
        {{  form.forgotpass(class="input",placeholder="Email") }} 
         <br /><p></p> 
        {{  form.submit(class="btn primary")  }}
      #} -->
      </div>

    </div><!-- hero unit ends -->  
  </div><!-- container ends -->  
  </div>
    
{% endblock %}
