{% extends "layout.html" %}
{% block body %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>Quote<small> submission</small></h1>
        </div><!-- page header ends -->
        
        <section id="">
          
          <div class="span11">
            <div class="page-header">
              <h3>Submit <small> your conversations and hit submit<small></h3>
            </div><!-- page-header ends -->
            <p></p>
            <form action="{{ url_for('submit_quote') }}" method=post>
            {{ form.body( class="span11", rows="5" , placeholder="Enter your quote here")|safe }}
            <br /><p></p>
            {{ form.by( class="span11", placeholder="Submitted by")|safe }}
            <p></p>
            {{ form.submit(class="btn primary")}}
          </div><!-- span11 ends here -->
          
          <div class="span5">
            <div class="page-header">
              <h3>Tags <small> be sure to enter certain keywords<small></h3>
            </div><!-- page-header ends -->
            <p></p>
            {{ form.tags( class="span5", placeholder="Enter keywords relevant to the quote separated by commas", rows="5")|safe }}
            </form>
            <p></p>
            <p class="justified_text">Example 
            <span class="label warning">Superman</span> <span class="label">Pizza</span>
            <span class="label important">Jesus</span> <span class="label success">Keyboard</span></p>
            <p>is relevant to <strong>Jesus just hit Superman with a pizza who was eating the keyboard</strong></p>
          </div><!-- span5 ends -->
          
        </section><!-- section ends-->
        
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end content  -->
{% endblock %}
