{% extends "layout.html" %}
{% block body %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1>Quotes<small> a comprehensive guide to fail</small></h1>
        </div><!-- page header ends -->
        <div class="span5">
          <h3>Panel</h3>
          <p>This is where you upvote or downvote them quotes</p>
          <button class="btn primary">Good one</button>
        </div>
        <div class="span11">
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end content  -->
{% endblock %}
